* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url('/simon-berger-twukN12EN7c-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #555;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.container label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.container input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container button {
    display: block;
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container button:hover {
    background-color: #ef9362;
}

#output {
    margin-top: 20px;
    padding-bottom: 12%;
    font-size: 1.2rem;
    line-height: 1.5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 2rem;
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    margin-left: 20px;
}

footer a {
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: #555;
}

.synonym {
    font-weight: bold;
}

/* Adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    display: inline;
    width: 60px;
    height: 34px;
    float: left;
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    transition: .3s;
    background-color: black;
    -webkit-transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;

}

input:checked+.slider {
    background-color: orange;
}

input:focus+.slider {
    box-shadow: 0 0 1px orange;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 32px;
    float: left;
}

.slider.round:before {
    border-radius: 49%;
}

.switch-text {
    display: inline;
    padding-left: 1%;
}
.note {
    font-style: italic;
    font-size: smaller;
}
.install_link {
    color: blue;
}